.newsCard {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    width: 80%; /* Увеличивает размер новости */
    margin-left: auto;
    margin-right: auto;
  }
  
  .newsCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cardBody {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.5em; /* Увеличивает размер заголовка */
    font-weight: bold;
  }
  
  .userLogin {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .userLogin:hover {
    text-decoration: underline;
    font-size: 1.3em;
  }
  
  .description {
    margin-bottom: 10px;
    font-size: 1.2em; /* Увеличивает размер описания */
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .detailItem {
    margin-bottom: 5px;
  }
  
  .detailLabel {
    font-weight: bold;
  }
  